<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      <div class="column">
        <!-- <div class="footer-logo"> -->
            {{- $out_fo  := "footer.svg" -}}
            {{- $img_n   := .Site.Params.footer.logo -}}
            {{- $home    := .Site.Params.homepage.linkPosition -}}
            {{- $type    := lower (substr $img_n (sub (len $img_n) 3) (len $img_n)) -}}
            {{- $img     := resources.Get $img_n -}}
            {{- if eq $type "svg" -}}
              {{- $img    = $img | resources.ExecuteAsTemplate $out_fo . }}
            {{- end -}}
            <img src="{{- $img.Permalink | relURL -}}" alt="">
        <!-- </div> -->
      </div>
      
    <div class="column">
        <div class="footer-column">
          <div class="footer-header">
              <h3>{{ i18n "website" }}</h3>
          </div>
          <ul class="link-list">
            {{- if or (eq $home "footer") (eq $home "menu+footer") -}}
            <li>
              <a href="{{ .Site.baseURL | relLangURL }}"><span class="icon"><i class="fa fa-home"></i></span> 
                {{- if .Site.Params.homepage.linkText -}}
                  {{- printf " %s" .Site.Params.homepage.linkText -}}
                {{- else -}}
                  {{ printf " %s" (i18n "homepage") }}
                {{- end -}}
              </a>
            </li>
            {{- end -}}
            <li>
                {{- with .Site.GetPage "/credits/index" -}}
                <a href="{{- .RelPermalink -}}">
                  <span class="icon"><i class="fa fa-cube"></i></span>
                  {{ i18n "credits" }}
                </a>
                {{- end -}}
              </li>
            <li>
              {{- with .Site.GetPage "tags" -}}
              <a href="{{- .RelPermalink -}}">
                <span class="icon"><i class="fa fa-tag"></i></span> 
                {{ i18n "allTags" }}
              </a>
              {{- end -}}
            </li>
          </ul>
        </div>
      </div>
    
      {{ if (or (or (or (or (or (or (or (.Site.Params.footer.linkedin) (.Site.Params.footer.email)) (.Site.Params.footer.facebook)) (.Site.Params.footer.twitter)) (.Site.Params.footer.instagram)) (.Site.Params.footer.github)) (.Site.Params.footer.telegram)) (.Site.Params.footer.gitlab)) -}}
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
              <h3>{{ i18n "contacts" }}</h3>
          </div>
          <ul class="link-list">
            {{ with .Site.Params.footer.linkedin.link }}
            <li>
              <a href="https://www.linkedin.com/{{ . }}" target="_blank">
                <span class="icon"><i class="fab fa-linkedin"></i></span>
                {{ with $.Site.Params.footer.linkedin.title }}
                  {{ . }}
                {{ else }}
                  LinkedIn
                {{ end }}
              </a>
            </li>
            {{ end }}
            {{ with .Site.Params.footer.github.link }}
            <li>
              <a href="https://github.com/{{ . }}" target="_blank">
                <span class="icon"><i class="fab fa-github-square"></i></span>
                {{ with $.Site.Params.footer.github.title }}
                  {{ . }}
                {{ else }}
                  Github
                {{ end }}
              </a>
            </li>
            {{ end }}             
            {{ with .Site.Params.footer.email.link }}
            <li>
              <a href="mailto:{{ . }}" target="_blank">
                <span class="icon"><i class="fa fa-envelope"></i></span>
                {{ with $.Site.Params.footer.email.title }}
                  {{ . }}
                {{ else }}
                  Email
                {{ end }}
              </a>
            </li>
            {{ end }}
            {{ with .Site.Params.footer.facebook.link }}
            <li>
              <a href="https://facebook.com/{{ . }}" target="_blank">
                <span class="icon"><i class="fab fa-facebook"></i></span>
                {{ with $.Site.Params.footer.facebook.title }}
                  {{ . }}
                {{ else }}
                  Facebook
                {{ end }}
              </a>
            </li>
            {{ end }}       
            {{ with .Site.Params.footer.twitter.link }}
            <li>
              <a href="https://twitter.com/{{ . }}" target="_blank">
                <span class="icon"><i class="fab fa-twitter"></i></span>
                {{ with $.Site.Params.footer.twitter.title }}
                  {{ . }}
                {{ else }}
                  Twitter
                {{ end }}
              </a>
            </li>
            {{ end }}       
            {{ with .Site.Params.footer.instagram.link }}
            <li>
              <a href="https://instagram.com/{{ . }}" target="_blank">
                <span class="icon"><i class="fab fa-instagram"></i></span>
                {{ with $.Site.Params.footer.instagram.title }}
                  {{ . }}
                {{ else }}
                  Instagram
                {{ end }}
              </a>
            </li>
            {{ end }}
            {{ with .Site.Params.footer.telegram.link }}
            <li>
              <a href="https://t.me/{{ . }}" target="_blank">
                <span class="icon"><i class="fab fa-telegram"></i></span>
                {{ with $.Site.Params.footer.telegram.title }}
                  {{ . }}
                {{ else }}
                  Telegram
                {{ end }}
              </a>
            </li>
            {{ end }}
            {{ with .Site.Params.footer.gitlab.link }}
            <li>
              <a href="https://gitlab.com/{{ . }}" target="_blank">
                <span class="icon"><i class="fab fa-gitlab"></i></span>
                {{ with $.Site.Params.footer.gitlab.title }}
                  {{ . }}
                {{ else }}
                  Gitlab
                {{ end }}
              </a>
            </li>
            {{ end }}             
       
          </ul>
        </div>
      </div>
      {{ end }}

      {{ with .Site.Params.footer.copyright }}
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
              <h3>{{ i18n "copyright" }}</h3>
          </div>
          <ul class="link-list">
            <li>
              <a>
                <span class="icon"><i class="fa fa-copyright"></i></span>
                {{ . }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      {{ end }}

    </div>
  </div>
</footer>