{{- $iconName := .icon | lower -}}
{{- if eq $iconName "cubes" -}}
<span class="icon is-small"><i class="fa fa-cubes" aria-hidden="true"></i></span>
{{- end -}}
{{- if eq $iconName "cube" -}}
<span class="icon is-small"><i class="fa fa-cube" aria-hidden="true"></i></span>
{{- end -}}
{{- if eq $iconName "database" -}}
<span class="icon is-small"><i class="fa fa-database" aria-hidden="true"></i></span>
{{- end -}}
{{- if eq $iconName "tag" -}}
<span class="icon is-small"><i class="fa fa-tag" aria-hidden="true"></i></span>
{{- end -}}
{{- if eq $iconName "tags" -}}
<span class="icon is-small"><i class="fa fa-tags" aria-hidden="true"></i></span>
{{- end -}}
{{- if eq $iconName "envelope" -}}
<span class="icon is-small"><i class="fa fa-envelope" aria-hidden="true"></i></span>
{{- end -}}
{{- if eq $iconName "linkedin" -}}
<span class="icon is-small"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
{{- end -}}
{{- if eq $iconName "python" -}}
<span class="icon is-small"><i class="devicon-python-plain"></i></span>
{{- end -}}
{{- if eq $iconName "c" -}}
<span class="icon is-small"><i class="devicon-c-plain"></i></span>
{{- end -}}
{{- if eq $iconName "java" -}}
<span class="icon is-small"><i class="devicon-java-plain"></i></span>
{{- end -}}
