<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />

{{- if .Page.IsPage -}}

    <meta property="og:url"  content="{{- .Permalink -}}" />
    <meta property="og:type" content="article" />

    {{- $title := replace .Title '"' ' ' -}} 
    <meta property="og:title" content="{{- $title -}}" />
    {{- if .Params.summary -}}
        {{- $summary := replace .Params.summary '"' ' ' -}}
        <meta property="og:description" content="{{- $summary -}}" />
    {{- else -}}
        <meta property="og:description" content="" />
    {{- end -}}

    {{- $image := "" -}}
    {{- $imgWidthDefault := 375 -}}
    {{- $imgHeightDefault := 250 -}}
    {{- if .Params.summaryImage -}} 
        {{- $image = .Page.Resources.GetMatch .Params.summaryImage -}}
        {{- .Scratch.Set "image" ($image.Resize "600x") -}}
        {{- $image = .Scratch.Get "image" -}}
    {{- else -}}
        {{- $image = resources.Get .Site.Params.summary.defaultImage -}}
        {{- .Scratch.Set "image" ($image.Resize "600x") -}}
        {{- $image = .Scratch.Get "image" -}}
    {{- end -}}

    <!-- <meta property="og:locale"      content="" /> -->
    {{- if .Page.Params.keepImageRatio -}}
        <meta property="og:image:width"  content="{{- $image.Width -}}" />
        <meta property="og:image:height" content="{{- $image.Height -}}" />
    {{- else -}}
        <meta property="og:image:width"  content="{{- $imgWidthDefault -}}" />
        <meta property="og:image:height" content="{{- $imgHeightDefault -}}" />
    {{- end -}}
    <meta property="og:image" content="{{- $image.Permalink -}}" />

{{- end -}}
