{{- if .Get "id" -}}
<div class="columns is-centered container" id="{{ .Get "id" }}">
{{- else -}}
<div class="columns is-centered container">
{{- end -}}
    {{- if or (eq (.Get "line-numbers") "false") (eq (.Get "line-numbers") false) -}}
    <div class="column is-two-thirds nonumbers">
    {{- else -}}
    <div class="column is-two-thirds">
    {{- end -}}
    {{- if .Get "language" -}}
    <pre><code class="code-highlight language-{{- .Get "language" -}}">{{- trim .Inner "\n" -}}</code></pre>
    {{- else -}}
    <pre><code class="code-highlight">{{- trim .Inner "\n" -}}</code></pre>
    {{- end -}}
    {{/*  <pre class="line-numbers"><code class="code-highlight language-{{ .Get "language" }}">{{- trim .Inner "\n" -}}</code></pre>  */}}
    {{/*  <pre class="line-numbers" data-line="5,6-7"><code class="code-highlight language-{{ .Get "language" }}">{{- trim .Inner "\n" -}}</code></pre>  */}}
    </div>
</div>
{{/*  <pre class="" style="white-space: pre-line;">  */}}
{{/*  {{- if or (eq (.Get "line-numbers") "no") (eq (.Get "line-numbers") "false") (eq (.Get "line-numbers") false) -}}  */}}
{{/*  <code class="language-{{ .Get "language" }}" style="white-space: pre-wrap;">{{- trim .Inner "\n" -}}</code>  */}}
{{/*  {{- else -}}  */}}
{{/*  <code class="language-{{ .Get "language" }}">{{- trim .Inner "\n" -}}</code>  */}}
{{/*  {{- end -}}  */}}