{{- if .Get "id" -}}
<div class="columns is-centered container" id="{{ .Get "id" }}">
{{- else -}}
<div class="columns is-centered container">
{{- end -}}
    {{- if or (eq (.Get "line-numbers") "false") (eq (.Get "line-numbers") false) -}}
    <div class="column is-two-thirds nonumbers">
    {{- else -}}
    <div class="column is-two-thirds">
    {{- end -}}
    {{- if .Get "language" -}}
    <pre><code class="code-highlight language-{{- .Get "language" -}}">{{- trim .Inner "\n" -}}</code></pre>
    {{- else -}}
    <pre><code class="code-highlight">{{- trim .Inner "\n" -}}</code></pre>
    {{- end -}}
    </div>
</div>