{{- $original1 := (.Page.Resources.ByType "image").GetMatch (printf "*%s*" (.Get "src1")) -}}
{{- $width1    := printf "%s" (.Get "width1" ) -}}
{{- $height1   := printf "%s" (.Get "height1") -}}
{{- $size1     := printf "%sx%s" $width1 $height1 -}}

{{- $original2 := (.Page.Resources.ByType "image").GetMatch (printf "*%s*" (.Get "src2")) -}}
{{- $width2    := printf "%s" (.Get "width2" ) -}}
{{- $height2   := printf "%s" (.Get "height2") -}}
{{- $size2     := printf "%sx%s" $width2 $height2 -}}

<div class="columns is-centered container">
    <div class="column is-half">
        <figure>
            {{- with $original1 -}}
            {{- $image1 := .Resize $size1 -}}
            <img class="rounded-corners" src="{{- $image1.RelPermalink -}}" 
                width="{{- $image1.Width -}}" 
                height="{{- $image1.Height -}}">
            {{- end -}}
        </figure>
    </div>
    <div class="column is-half">
        <figure>
            {{- with $original2 -}}
            {{- $image2 := .Resize $size2 -}}
            <img class="rounded-corners" src="{{- $image2.RelPermalink -}}" 
                width="{{- $image2.Width -}}" 
                height="{{- $image2.Height -}}">
            {{- end -}}
        </figure>
    </div>
</div>